body{
    background-image: url("../img/emilia-music-top.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
}



ul.menu a{
    color: rgb(71, 71, 71);
}

ul.menu{
    margin-top: 30px;
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: right;
    font-weight: bold;
}

ul li{
    list-style: none;
}

ul.menu li{
    display: inline;
    padding: 0 7px;
    border-left: 1px solid black;
    font-size: 15px;
}

ul.menu li:last-child{
    border-right: 1px solid black;
}


ul.redes{
    text-align: right;
    margin-top: 10px;
}

